<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue</title>
  </head>
  <body>
    <!-- 学习vue 实例创建-->
    <div id="create_vue_instance">
      <ul>
        <li>{{ a }}</li>
        <li>{{ b }}</li>
      </ul>
      <!-- 这里的 `foo` 不会更新！ -->
      <!--<button v-on:click="foo = 'baz'">Change it</button>-->
    </div>

    <div id="create_vue_instance_tow">
      <ul>
        <li>{{ foo }}</li>
      </ul>
      <!-- 这里的 `foo` 不会更新！ -->
      <!--<button v-on:click="foo = 'baz'">Change it</button>-->
    </div>

    <!--学习vue 模板语法-->
    <div id="first_template">
      <ul>
        <!--插值-->
        <li><p><span style="color: olivedrab; font-size: larger; font-weight: bolder"><<<<<<<<<<<<<<<<<插值>>>>>>>>>>>>>>>></span></p></li>
        <li>{{ template }}</li>
        <li v-once>{{ once }}</li>

        <!--原始html rawhtml 将会替换 span-->
        <li><p><span style="color: red; font-size: larger">原始html rawhtml 将会替换 span</span></p></li>
        <li >
          <p>Using mustaches: {{ rawHtml }}</p>
          <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        </li>

        <!--特性-->
        <li><p><span style="color: red; font-size: larger">特性</span></p></li>
        <li>
          <div v-bind:id="dynamicId">chendaye666</div>
        </li>

        <!--使用 JavaScript 表达式-->
        <li><p><span style="color: red; font-size: larger">使用 JavaScript 表达式</span></p></li>
        <li>{{ number + 1 }}</li>
        <li>{{ true ? 'YES' : 'NO' }}</li>
        <li>{{ message.split('-').reverse().join('-') }}</li>
      </ul>
    </div>
    <div id="first_directives">
      <ul>
        <li><p><span style="color: red; font-size: larger">指令</span></p></li>
        <li><p v-if="seen">现在你看到我了</p></li>
        <li><p v-if="seen"><a v-bind:href="href">chendaye666</a></p></li>
        <li><p v-if="seen"><a v-on:click="doSomething">doSomething</a></p></li>
      </ul>
    </div>

    <!--计算属性和侦听器-->
    <div id="calculatingPropertiesListener">
      <ul>
        <li><p><span style="color: red; font-size: larger">计算属性和侦听器</span></p></li>
        <li> <p>Original message: "{{ message }}"</p></li>
        <li><p>Computed reversed message: "{{ reversedMessage }}"</p></li>
        <li><p>Method reversed message: "{{ reversedMessageMethod() }}"</p></li>
        <li><p>Method reversed message: "{{ fullNameCompute }}"</p></li>
        <li><p>Method reversed message: "{{ fullName }}"</p></li>
      </ul>
    </div>

    <!--Class 与 Style 绑定-->
    <div id="html_class_bind">
      <ul>
        <li><p><span style="color: red; font-size: larger">Class 与 Style 绑定</span></p></li>
        <li> <p v-bind:class="{ active: classObject.active, 'text-danger': classObject.text-danger }">配合计算属性 绑定 HTML Class</p></li>
      </ul>
    </div>



    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
