<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue</title>
  </head>
  <body>
    <!-- 学习vue 实例创建-->
    <div id="create_vue_instance">
      <ul>
        <li>{{ a }}</li>
        <li>{{ b }}</li>
      </ul>
      <!-- 这里的 `foo` 不会更新！ -->
      <!--<button v-on:click="foo = 'baz'">Change it</button>-->
    </div>

    <div id="create_vue_instance_tow">
      <ul>
        <li>{{ foo }}</li>
      </ul>
      <!-- 这里的 `foo` 不会更新！ -->
      <!--<button v-on:click="foo = 'baz'">Change it</button>-->
    </div>

    <!--学习vue 模板语法-->
    <div id="first_template">
      <ul>
        <!--插值-->
        <li><p><span style="color: olivedrab; font-size: larger; font-weight: bolder"><<<<<<<<<<<<<<<<<插值>>>>>>>>>>>>>>>></span></p></li>
        <li>{{ template }}</li>
        <li v-once>{{ once }}</li>

        <!--原始html rawhtml 将会替换 span-->
        <li><p><span style="color: red; font-size: larger">原始html rawhtml 将会替换 span</span></p></li>
        <li >
          <p>Using mustaches: {{ rawHtml }}</p>
          <p>Using v-html directive: <span v-html="rawHtml"></span></p>
        </li>

        <!--特性-->
        <li><p><span style="color: red; font-size: larger">特性</span></p></li>
        <li>
          <div v-bind:id="dynamicId">chendaye666</div>
        </li>

        <!--使用 JavaScript 表达式-->
        <li><p><span style="color: red; font-size: larger">使用 JavaScript 表达式</span></p></li>
        <li>{{ number + 1 }}</li>
        <li>{{ true ? 'YES' : 'NO' }}</li>
        <li>{{ message.split('-').reverse().join('-') }}</li>
      </ul>
    </div>
    <div id="first_directives">
      <ul>
        <li><p><span style="color: red; font-size: larger">指令</span></p></li>
        <li><p v-if="seen">现在你看到我了</p></li>
        <li><p v-if="seen"><a v-bind:href="href">chendaye666</a></p></li>
        <li><p v-if="seen"><a v-on:click="doSomething">doSomething</a></p></li>
      </ul>
    </div>

    <!--计算属性和侦听器-->
    <div id="calculatingPropertiesListener">
      <ul>
        <li><p><span style="color: red; font-size: larger">计算属性和侦听器</span></p></li>
        <li> <p>Original message: "{{ message }}"</p></li>
        <li><p>Computed reversed message: "{{ reversedMessage }}"</p></li>
        <li><p>Method reversed message: "{{ reversedMessageMethod() }}"</p></li>
        <li><p>Method reversed message: "{{ fullNameCompute }}"</p></li>
        <li><p>Method reversed message: "{{ fullName }}"</p></li>
      </ul>
    </div>

    <!--Class 与 Style 绑定-->
    <div id="html_class_bind">
      <ul>
        <li><p><span style="color: red; font-size: larger">Class 与 Style 绑定</span></p></li>
        <li> <p v-bind:class="{ active: classObject.active, 'text-danger': classObject.danger }">对象语法，传进来一个对象，配合计算属性 绑定 HTML Class</p></li>
        <li><div v-bind:class="[activeClass, errorClass]">数组语法</div></li>
        <li><div v-bind:class="[isActive ? activeClass : '', errorClass]">在数组中运用三元表达式</div></li>
        <li><div v-bind:class="[{ active: isActive }, errorClass]">在数组中运用对象语法</div></li>
        <li><div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">内联样式绑定</div></li>
        <li><div v-bind:style="styleObject">直接绑定到一个样式对象通常更好，这会让模板更清晰</div></li>
        <li><div v-bind:style="[baseStyles, overridingStyles]">v-bind:style 的数组语法可以将多个样式对象应用到同一个元素上</div></li>
      </ul>
    </div>

    <!--声明的一个组件-->
    <my-component class="baz boo">我的组件</my-component>

    <!--条件渲染-->
    <div id="conditional_rendering">
      <ul>
        <li><p><span style="color: red; font-size: larger">条件渲染</span></p></li>
        <li>
          <h1 v-if="first">v-if</h1>
          <h1 v-else-if="two">v-else-if</h1>
          <h1 v-else>No</h1>
        </li>
        <li>
          <template v-if="first">
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
          </template>
          <template v-else>
            <h1>Title</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
          </template>
        </li>
        <li>
          <p>那么在上面的代码中切换 loginType 将不会清除用户已经输入的内容。因为两个模板使用了相同的元素，input 不会被替换掉——仅仅是替换了它的 placeholder</p>
          <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username">
          </template>
          <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
          </template>
        </li>
        <li>
          <p>这样也不总是符合实际需求，所以 Vue 为你提供了一种方式来表达“这两个元素是完全独立的，不要复用它们”。只需添加一个具有唯一值的 key 属性即可</p>
          <template v-if="loginType === 'username'">
            <label>Username</label>
            <input placeholder="Enter your username" key="username-input">
          </template>
          <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address" key="email-input">
          </template>
        </li>
        <li><h1 v-show="show">Hello!</h1></li>

        <li>
        <p v-for="item in items">
          {{ item.message }}
        </p>
        <p v-for="(item, index) in items">
          {{ parentMessage }} - {{ index }} - {{ item.message }}
        </p>
        <p v-for="value in object">
          {{ value }}
        </p>
        </li>

        <li>
          <!--vue 不能监听的数组变化-->
          <p v-for="(arr, i) in array">
            {{ arr }}
          </p>
        </li>

        <li>{{ a }}</li>
        <!--<li>{{ b }}</li>-->

        <li>
          <!--对象更改检测注意事项-->
          <p v-for="(v, k) in userProfile">{{ k }}--{{ v }}</p>
        </li>

        <!--显示过滤/排序结果-->
        <li>
        <p v-for="n in evenNumbers">{{ n }}</p>
        <p v-for="n in even(numbers)">{{ n }}</p>
        </li>

        <!--v-for 也可以取整数。在这种情况下，它将重复多次模板。-->
        <li>
          <p v-for="n in 6">{{ n }}</p>
        </li>

        <!--类似于 v-if，你也可以利用带有 v-for 的 <template> 渲染多个元素。比如：-->
        <li>
          <template v-for="item in items">
            <p>{{ item.message }}</p>
          </template>
        </li>

        <!--当它们处于同一节点，v-for 的优先级比 v-if 更高，这意味着 v-if 将分别重复运行于每个 v-for 循环中-->
        <li>
        <p v-for="todo in items" v-if="!todo.isComplete">
          {{ todo.message }}
        </p>
        </li>
        <!--如果你的目的是有条件地跳过循环的执行，那么可以将 v-if 置于外层元素 (或 <template>)上-->
        <li>
          <ul v-if="items.length === 7">
            <li v-for="todo in items">
              {{ todo.message }}
            </li>
          </ul>
          <p v-else>No todos left!</p>
        </li>

        <!--任何数据都不会被自动传递到组件里，因为组件有自己独立的作用域。为了把迭代数据传递到组件里，我们要用 props -->
        <my-component
          v-for="(item, index) in items"
          v-bind:item="item"
          v-bind:index="index"
          v-bind:key="item.id"
        ></my-component>
      </ul>
    </div>

    <!--事件监听-->
    <div id="monitor_event">
      <ul>
        <li><p><span style="color: red; font-size: larger">事件监听</span></p></li>
        <li>
          <div >
            <button v-on:click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
          </div>
        </li>

        <li>
          <div id="">
            <!-- `greet` 是在下面定义的方法名 -->
            <button v-on:click="greet">Greet</button>
          </div>
        </li>

        <li>
          <div id="example-3">
            <button v-on:click="say('hi')">Say hi</button>
            <button v-on:click="say('what')">Say what</button>
            <button v-on:click="warn('Form cannot be submitted yet.', $event)">
              Submit
            </button>

            <!-- 阻止单击事件继续传播 -->
            <a v-on:click.stop="doThis">阻止单击事件继续传播</a>

            <!-- 提交事件不再重载页面 -->
            <form v-on:submit.prevent="onSubmit">提交事件不再重载页面</form>

            <!-- 修饰符可以串联 -->
            <a v-on:click.stop.prevent="doThat">修饰符可以串联</a>

            <!-- 只有修饰符 -->
            <form v-on:submit.prevent>只有修饰符</form>

            <!-- 添加事件监听器时使用事件捕获模式 -->
            <!-- 即元素自身触发的事件先在此处处理，然后才交由内部元素进行处理 -->
            <div v-on:click.capture="doThis">添加事件监听器时使用事件捕获模式</div>

            <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
            <!-- 即事件不是从内部元素触发的 -->
            <div v-on:click.self="doThat"> 只当在 event.target 是当前元素自身时触发处理函数 </div>

            <!-- 点击事件将只会触发一次 -->
            <a v-on:click.once="doThis">点击事件将只会触发一次</a>

            <!-- 滚动事件的默认行为 (即滚动行为) 将会立即触发 -->
            <!-- 而不会等待 `onScroll` 完成  -->
            <!-- 这其中包含 `event.preventDefault()` 的情况 -->
            <div v-on:scroll.passive="onScroll"> 滚动事件的默认行为 (即滚动行为) 将会立即触发 </div>

            <!-- 只有在 `keyCode` 是 13 时调用 `vm.submit()` -->
            <input v-on:keyup.13="submit">
            <!-- 同上 -->
            <input v-on:keyup.enter="submit">

            <!-- 缩写语法 -->
            <input @keyup.enter="submit">

            <!-- Alt + C -->
            <input @keyup.alt.67="clear">

            <!-- Ctrl + Click -->
            <div @click.ctrl="doSomething">Do something</div>

            <!-- 即使 Alt 或 Shift 被一同按下时也会触发 -->
            <button @click.ctrl="onClick">A</button>

            <!-- 有且只有 Ctrl 被按下的时候才触发 -->
            <button @click.ctrl.exact="onCtrlClick">A</button>

            <!-- 没有任何系统修饰符被按下的时候才触发 -->
            <button @click.exact="onClick">A</button>

          </div>
        </li>
        </li>
      </ul>
    </div>

    <!--表单输入绑定-->
    <div id="form_bind">
      <ul>
        <li><p><span style="color: red; font-size: larger">表单输入绑定</span></p></li>
        <li>
          <!--文本-->
          <input v-model="message" placeholder="edit me">
          <p>Message is: {{ message }}</p>
        </li>
        <li>
          <!--多行文本-->
          <span>Multiline message is:</span>
          <p style="white-space: pre-line;">{{ messageText }}</p>
          <br>
          <textarea v-model="messageText" placeholder="add multiple lines"></textarea>
        </li>
        <li>
          <!--复选框-->
          <input type="checkbox" id="checkbox" v-model="checkoutBox">
          <label for="checkbox">{{ checkoutBox }}</label>
        </li>
        <li>
          <!--多个复选框，绑定到同一个数组-->
          <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
          <label for="jack">Jack</label>
          <input type="checkbox" id="john" value="John" v-model="checkedNames">
          <label for="john">John</label>
          <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
          <label for="mike">Mike</label>
          <br>
          <span>Checked names: {{ checkedNames }}</span>
        </li>
        <li>
          <!--单选按钮-->
          <input type="radio" id="one" value="One" v-model="picked">
          <label for="one">One</label>
          <br>
          <input type="radio" id="two" value="Two" v-model="picked">
          <label for="two">Two</label>
          <br>
          <span>Picked: {{ picked }}</span>
        </li>
        <li>
          <!--选择框-->
          <select v-model="selected">
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
          </select>
          <span>Selected: {{ selected }}</span>
        </li>
        <li>
          <!--多选时存在数组-->
          <select v-model="selectedArr" multiple style="width: 50px;">
            <option>A</option>
            <option>B</option>
            <option>C</option>
          </select>
          <br>
          <span>Selected: {{ selectedArr }}</span>
          <br>
          <!--v-for 动态渲染选项-->
          <select v-model="selected2">
            <option v-for="option in options" v-bind:value="option.value">
              {{ option.text }}
            </option>
          </select>
          <span>Selected: {{ selected2 }}</span>
        </li>

        <li>
          <!-- 当选中时，`picked` 为字符串 "a" -->
          <input type="radio" v-model="picked" value="a">
          <span>{{ picked }}</span><br>

          <!-- `toggle` 为 true 或 false -->
          <input type="checkbox" v-model="toggle">
          <span>{{ toggle }}</span><br>

          <!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
          <select v-model="selected">
            <option value="abc">ABC</option>
            <option value="123">123</option>
          </select>
          <span>{{ selected }}</span><br>
        </li>
        <li>
          <!--修饰符-->
          <!-- 在“change”时而非“input”时更新 -->
          <input v-model.lazy="lazy" >
          <span>{{ lazy }}</span><br>
          <!--如果想自动将用户的输入值转为数值类型，可以给 v-model 添加 number 修饰符：-->
          <input v-model.number="number" type="number">
          <span>{{ number }}</span><br>
          <!--如果要自动过滤用户输入的首尾空白字符，可以给 v-model 添加 trim 修饰符：-->
          <input v-model.trim="trim">
          <span>{{ trim }}</span><br>
        </li>
      </ul>
    </div>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
